<ion-header>
  <ion-toolbar>
    <ion-title>
      Drink Selector
    </ion-title>

    <ion-buttons slot="end">
      <ion-button slot="icon-only" href="/settings" routerDirection="forward">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<div id="chart"></div>

<div id="selection" *ngIf="selectedDrink.length > 0">
  Looks like you're drinking {{selectedDrink}}
</div>

<ion-content>



    <ion-tabs>
        <!-- Tab bar -->
        <ion-tab-bar slot="bottom">
          <ion-tab-button>
            <ion-icon name="home"></ion-icon>
          </ion-tab-button>
          <ion-tab-button href="/create-new-wheel">
              <ion-icon name="add-circle-outline"></ion-icon>
          </ion-tab-button>
          <ion-tab-button>
            <ion-icon name="map"></ion-icon>
          </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
    
